.sidebar-collapsed {
    width: 85px;
}
.sidebar-expanded {
    width: 320px;
}

.sidebar-collapsed .menu-name span,
.sidebar-collapsed .menu-name .arrow {
    display: none;
}

.sidebar-collapsed .menu-name i {
    margin-right: 0;
}

.sidebar-collapsed .menu-drop {
    display: none;
}

.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 40;
    display: none;
}

.sidebar-overlay.active {
    display: block;
}
.close-sidebar-btn{
        display: none;
    }
@media (max-width: 968px) {
    .sidebar {
        position: fixed;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.mobile-active {
        left: 0;
    }

    .main {
        margin-left: 0 !important;
    }
    .close-sidebar-btn{
        display: block;
    }
}
.menu-name {
    position: relative;
    overflow: hidden;
}

.menu-name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #4E3B2A;
    transition: width 0.3s ease;
}

.menu-name:hover::after {
    width: 100%;
}